.custom-popup {
  position: fixed;
  z-index: 100;

  width: 100%;
  height: 100%;

  left: 0;
  top: 0;

  &--dark-background {
    background: rgba(40, 53, 54, .5);
  }
}

.popup-message {
  position: absolute;
  top: 20%;
  left: 32%;
  width: 36%;
  background: white;
  border-radius: 10px;
  padding-bottom: 25px;

  &__title-container {
    background-color: @lightBlue;
    height: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  }

  &__title {
    .futuraBook();
    font-size: 23px;
    color: @white;
    padding: 29px 0 21px;
  }

  &__text-container {
    height: 60%;
    text-align: center;
  }

  &__text {
    .proximaNovaRegular();
    font-size: 14px;
    color: #4e636a;
    line-height: 24px;

    margin: 32px auto 30px auto;

    width: 78%;
    letter-spacing: -0.3px;
  }

  &__button-container {
    text-align: center;
  }

  &__button {
    width: 160px;
  }

  &__close-icon {
    position: absolute;
    top: 10px;
    right: 10px;

    color: @white;
  }
}