.image-preview {
  width: 400px;
  height: 300px;

  background-size: contain;
  background-repeat: no-repeat;
}

.loader {
  position: absolute;
  top: 5%;
  right: 5%;
}

#container {
  position: relative;
  background-color:#e3ddd8;
}

#canvas {
  position:absolute;
  top:30px;
  left:10px;
}