.face-selector {

  &__button-section {
    width: 100%;
    margin-bottom: 9px;
  }

  &__button-manage-section {
    width: 100%;
    margin: 35px 0 8px 0;
    text-align: center;
  }

  &__button {
    background-color: @white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 4px;
    border: 1px solid #abb0b1;

    padding: 0 9px;

    vertical-align: top;
    text-decoration: none;

    height: 27px;

    display: inline-block;
    cursor: pointer;

    margin: 0 2.5px !important;

    .futuraBold();
    color: @darkGrey;
    font-size: 11px;
    line-height: 30px;
    text-transform: uppercase;

    &--short {
      width: 10px !important;
      background-size: 75% !important;
    }

    &--select {
      margin-left: 10px !important;
      margin-right: 8px !important;
    }

    &--magic-edge {
      margin-left: 8px !important;
    }

    &--crop {
      margin-left: 8px !important;
    }
  }

  &__magic-edge-section {
    overflow: hidden;
  }

  &__canvas-container {
    border: 1px solid #f3f4f4 !important;
    width: 410px !important;
    height: 290px !important;
  }

  &__canvas-list-container {
    height: 295px !important;
    width: 98% !important;
  }
}


.face-select-description-container {
  margin: 30px 0 34px 0;
}

.face-select-description {
  width: 24.5%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  box-sizing: border-box;

  &__step-container {
    display: inline-block;
    width: 20%;

    vertical-align: top;
  }

  &__step {
    width: 38px;
    height: 38px;

    background-color: @lightGrey;

    border: none;
    border-radius: 50%;

    .futuraHeavy();

    text-align: center;
    line-height: 44px;
    font-size: 17px;
    color: #b2b3b4;
  }

  &__info-block {
    display: inline-block;
    width: 78%;

    box-sizing: border-box;
    padding-left: 7px;
  }

  &__step-title {
    text-transform: capitalize;
    margin-bottom: 3px;
    .futuraMedium();
    font-size: 15px;
  }

  &__icon {
    display: inline-block;
    vertical-align: top;
  }

  &__text {
    display: inline-block;
    font-size: 12px;
    width: 78%;

    .proximaNovaRegular();
    color: @darkGrey;
    letter-spacing: 0.15px;
  }
}