/** Futura font **/
@font-face {
  font-family: 'futuraStd-Bold';
  src: url("../fonts/FuturaSTD/FuturaStd-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futuraStd-Book';
  src: url("../fonts/FuturaSTD/FuturaStd-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futuraStd-Heavy';
  src: url("../fonts/FuturaSTD/FuturaStd-Heavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futuraStd-Medium';
  src: url("../fonts/FuturaSTD/FuturaStd-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/** Futura font mixins **/
.futuraBold() {
  font-family: "futuraStd-Bold";
}

.futuraBook() {
  font-family: "futuraStd-Book";
}

.futuraHeavy() {
  font-family: "futuraStd-Heavy";
}

.futuraMedium() {
  font-family: "futuraStd-Medium";
}





/** ProximaNova font **/
@font-face {
  font-family: 'proximaNova-Regular';
  src: url('../fonts/ProximaNova/ProximaNovaRegular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximaNova-Bold';
  src: url('../fonts/ProximaNova/ProximaNovaBold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximaNova-Light';
  src: url('../fonts/ProximaNova/ProximaNovaLight.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximaNova-Semibold';
  src: url('../fonts/ProximaNova/ProximaNovaSemibold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

/** ProximaNova font mixins **/
.proximaNovaRegular() {
  font-family: "proximaNova-Regular";
}

.proximaNovaBold() {
  font-family: "proximaNova-Bold";
}

.proximaNovaLight() {
  font-family: "proximaNova-Light";
}

.proximaNovaSemibold() {
  font-family: "proximaNova-Semibold";
}

