footer {
  height: 450px;
  width: 100%;
}

.footer {
  &__container {
    padding-top: 77px;
  }

  &__column {
    display: inline-block;
    vertical-align: top;
  }

  &__logo-container {
    margin-right: 15px;
  }

  &__header {
    .futuraMedium();
    color: @middleGrey;
    font-size: 14px;
  }

  &__menu {
    margin: -3px 42px 0 42px;

    .menu__item {
      text-transform: none;
      .futuraBook();
      letter-spacing: 0;
      font-size: 14px;


      margin: 11px 0;
    }
  }

  &__social-menu {
    margin-top: 13px;

    .menu__item {
      color: #4e636a;
      font-size: 24px;
      background-color: @lightGrey;

      width: 45px;
      height: 47px;
      margin: 0;
      text-align: center;
      line-height: 50px;


    }
  }

  &__social-block {
    margin-left: 56px;
    margin-top: 2px;
  }

  &__newsletter-block {
    margin-left: 81px;
    margin-top: 2px;
  }

  &__newsletter-input {
    .proximaNovaRegular();
    background-color: @lightGrey;
    font-size: 15px;
    color: #969dad;
    width: 210px;

    padding: 14px 17px;
    margin-top: 13px;

    border: none;
  }

  &__copyright-block {
    text-align: center;
    margin-top: 85px;
  }
}

.copyright-block {

  &__text {
    color: #899da3;
    font-size: 14px;
    letter-spacing: 0.35px;
    margin-top: 17px;

    .proximaNovaRegular();

    &--small {
      font-size: 12px;
      letter-spacing: 0.5px;
      margin-top: 7px;
    }
  }

  .ion-heart {
    color: #fb2c58;
  }
}
