.icon-edge {
  width: 10px;
  height: 10px;
  border: 2px solid #ffe82b;
  border-radius: 50%;
}

.icon-foreground {
  width: 15px;
  height: 15px;

  background-color: #21cc25;
  border-radius: 50%;
}

.icon-background-remover {
  width: 15px;
  height: 15px;

  background-color: #fc252d;
  border-radius: 50%;
}