/** COLORS **/
@darkGrey: #283536;
@middleGrey: #bac8cc;
@lightGrey: #f5f8f8;

@darkBlue: #42a4df;
@lightBlue: #5cc6e9;
@cyan: #f9fdfd;
@white: #fff;

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -450px;
	background-color: @lightGrey;
	overflow: hidden;
	//min-height: 1170px;
}
.page-wrap:after {
	content: "";
	display: block;
}
footer, .page-wrap:after {
	height: 450px;
}
header, footer {
	background: #fff;
}

.container {
	width: 1110px;
	height: 100%;
	margin: 0 auto;
}

* {
	outline: none;
	border: none;
}


.logo-container {
	display: inline-block;
	cursor: pointer;
}

.logo {
	&__icon-container {
		display: inline-block;

		width: 34px;
		height: 34px;

		text-align: center;

		border-radius: 4px;

		background: -webkit-linear-gradient(left, #4db7ea , #3996d6);
	}

	&__icon {
		line-height: 39px;
		font-size: 28px;
		color: #fff;
	}

	&__text {
		margin-left: 2px;

		font-size: 25px;
		color: @darkGrey;
		letter-spacing: -0.2px;
		.proximaNovaLight();

		&--bold {
			.proximaNovaSemibold();
		}
	}

	&--grey {
		background: transparent;
		border: 1px solid #c0c8cc;

		.logo__icon {
			color: #c0c8cc;
		}
	}
}

.menu {
	list-style: none;
	padding: 0;

	&__item {
		.futuraHeavy();
		font-size: 12px;
		color: @darkGrey;
		letter-spacing: 1.3px;
		text-transform: uppercase;

		display: inline-block;

		padding: 0;
		margin: 0 15px;

		cursor: pointer;

		vertical-align: middle;
	}

	&--vertical {
		.menu__item {
			display: block;
		}
	}

	.bag-container {
		margin-left: 28px;
		margin-right: 0;
		padding-top: 3px;
	}
}



.bag-container {
	position: relative;

	&__icon {
		font-size: 32px;
	}

	&__count {
		position: absolute;
		text-align: center;
		top: 2px;
		right: -3px;

		width: 17px;
		height: 17px;
		border-radius: 50%;
		background-color: @darkBlue;

		.proximaNovaBold();
		font-size: 11px;
		line-height: 17px;
		color: @white;
	}
}


.main-section {
	width: 910px;
	min-height: 505px;
	overflow: hidden;
	position: relative;

	margin: 75px auto 140px auto;

	background: @white;

	&__side {
		display: inline-block;
		padding: 35px;
		height: 100%;
		box-sizing: border-box;

		position: absolute;
		top: 0;

		&--left {
			width: 38.5%;
			background: @cyan;
			border-right: 1px solid @middleGrey;
			left: 0;
		}

		&--right {
			width: 61.5%;
			background: #fdfdfd;
			padding: 30px 38px;
			right: 0;
			overflow: hidden;
		}
	}

	&__header {
		.proximaNovaBold();
		font-size: 13px;
		text-transform: uppercase;
		color: @lightBlue;
	}

	&__title {
		.futuraBook();
		font-size: 23px;
		color: @darkGrey;
		margin-top: 7px;
		margin-bottom: 16px;
	}

	&__subtitle {
		.futuraHeavy();
		font-size: 13px;
		color: @lightBlue;
		margin-top: -15px;
		margin-bottom: 16px;
	}

	&__text {
		.proximaNovaRegular();
		font-size: 13px;
		line-height: 23px;
		letter-spacing: 0.17px;
		color: #4e636a;

		margin-top: 11px;
		padding-left: 2px;

		&--bold {
			.proximaNovaBold();
		}
	}

	&__note-text {
		margin-top: 23px;
		line-height: 19px;
		padding: 0;
	}

	&__button-section {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		padding: 38px;
	}

	&__image-download-section {
		height: 288px;
		width: 100%;

		margin-top: 31px;
		cursor: pointer;
	}

	&__image-result-section {
		margin: 55px auto 107px auto;
		padding: 0 20px;
	}

	&--face-selector {
		padding: 30px;
		width: 855px;
		min-height: 505px;
		height: 100%;
	}

	&--order-info {
		padding: 36px;
		box-sizing: border-box;
	}
}

.button {
	.futuraBold();
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 8px;
	border: none;
	text-align: center;
	min-width: 132px;
	height: 44px;
	line-height: 30px;
	margin-right: 6px;
	letter-spacing: 0.5px;
	cursor: pointer;

	&--dark {
		background: @darkGrey;
	}

	&--grey {
		background: @middleGrey;
	}

	&--blue {
		background: @darkBlue;
	}

	&--light {
		background: @white;
		color: @lightBlue;
		box-shadow: 0 0 5px 3px @lightGrey;
	}

	&--success {
		padding: 0 20px;
	}

	&__mark {
		font-size: 17px;
		margin-left: 5px;
		vertical-align: middle;
	}

	&__with-padding {
		padding: 0 25px;
	}
}

.image-download-section {
	background: @cyan;
	border: 1px dashed @middleGrey;
	position: relative;
	text-align: center;
	padding: 80px 89px 0 69px;
	box-sizing: border-box;
	display: block;

	&__preview {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__image-background {
		position: absolute;
		color: @lightGrey;
		font-size: 220px;
		top: 10%;
		left: 30%;
	}

	&__selector {
		position: absolute;
		cursor: pointer;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 10;
	}

	&__text {
		position: relative;
		.proximaNovaRegular();
		font-size: 16px;
		letter-spacing: 0.5px;
		color: #4e636a;
		line-height: 22px;


		&--small {
			margin-top: 17px;
			font-size: 13px;
			padding: 0 20px;
			letter-spacing: 0.1px;

			strong {
				.proximaNovaBold();
			}
		}
	}

	input[type="file"] {
		display: none;
	}

	&__trash-container {
		position: absolute;
		top: -14px;
		right: -14px;
	}
}

.text {

	&--center {
		text-align: center !important;
	}

	&--end {
		text-align: end;
	}

	&--blue {
		color: @lightBlue;
	}

	&--capitalize {
		text-transform: capitalize;
	}
}

.whole-width {
	width: 100%;
}

.custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

.trash-container {
	width: 24px;
	height: 24px;

	background-color: #f9506c;

	border: 2px solid @white;
	border-radius: 50%;
	text-align: center;
	line-height: 26px;

	&__icon {
		color: @white;
		font-size: 16px;
	}
}

.pointer {
	cursor: pointer;
}

.image-result-section {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__arrow {
		color: @lightBlue;
		font-size: 42px;
	}

	&__preview {
		width: 150px;
		height: 175px;
		text-align: center;

		display: inline-block;

		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		&--right {
			float: right;
		}
	}

	&__preview-image {
		width: auto;
		height: 100%;
		height: 175px;
	}
}

.dropdown-container {
	margin: 17px 0;
	padding-left: 2px;

	&__label {
		.proximaNovaRegular();
		color: #4e636a;
		font-size: 14px;
		letter-spacing: 0.1px;
	}

	&__list {
		.proximaNovaRegular();
		color: @darkGrey !important;
		font-size: 14px;

		margin-top: 11px !important;
		padding: 12px 8px 7px 14px !important;

		width: 91% !important;
		border-radius: 4px !important;
		box-shadow: none !important;
		height: 22px;
		text-transform: capitalize;
	}

	.wrap-dd-select:after {
		border-color: @lightBlue transparent;
		border-width: 5px 4px 0;
	}

	.wrap-dd-select .dropdown {
		max-height: 160px;
	}
}

.relative-position {
	position: relative;
}

.box-sizing {
	box-sizing: border-box;
}

.pointer {
	cursor: pointer;
}

.pick-body-section {
	position: relative;
	width: 100%;
	height: 320px;

	&__image {
		width: 143px;
		height: 195px;

		position: absolute;
		bottom: 22px;
		left: 35.5%;
	}
}

.resize-container {
	width: 100%;
	height: 100%;
	//height: 240px;
}

.resize-drag {
	background-color: transparent;
	width: 100px;
	height: 100px;
	left: 38%;
	border: 1px solid @lightGrey;
	/* This makes things *much* easier */
	box-sizing: border-box;

	position: absolute;
	z-index: 10;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	&__corner {
		position: absolute;
		background-color: @lightBlue;
		width: 5px;
		height: 5px;

		&--top-left {
			top: -3px;
			left: -3px;
		}

		&--top-right {
			top: -3px;
			right: -3px;
		}

		&--bottom-left {
			bottom: -3px;
			left: -3px;
		}

		&--bottom-right {
			bottom: -3px;
			right: -3px;
		}
	}

	&--unresized {
		border: none;
		pointer-events: none;

		.resize-drag__corner {
			display: none;
		}
	}
}

.order-info {

	&__price-section {
		width: 100%;
		text-align: end;
		margin-top: 26px;
	}

	&__button-section {
		width: 100%;
		text-align: end;
		margin-top: 30px;
	}

	&__price {
		.futuraMedium();
		color: @darkGrey;
		font-size: 22px;
		letter-spacing: 0.5px;
	}

	&__price-digit {
		.futuraMedium();
		color: @lightBlue;
		font-size: 29px;
		position: relative;
		margin-left: 11px;

		&:before {
			content: '$';
			font-size: 18px;
			position: absolute;
			top: -2px;
			left: -12px;
		}
	}
}

.order-info-list {
	width: 100%;
	padding: 0;
	list-style: none;
	margin-top: 15px;

	&__header {
		.proximaNovaBold();
		font-size: 12px;
		color: @middleGrey;
		text-transform: uppercase;
	}

	&__column {
		display: inline-block;

		&--1 {
			width: 32.5%;
		}

		&--2 {
			width: 20%;
		}

		&--3 {
			width: 27%;
		}

		&--4 {
			width: 12%;
		}

		&--5 {
			width: 6%;
		}
	}

	&__preview {
		width: 74px;
		height: 76px;
		border: 1px solid @lightBlue;
		border-radius: 5px;
		text-align: center;
		margin-left: 6px;
		display: inline-block;
		vertical-align: middle;
		padding: 5px;
		box-sizing: border-box;

		img {
			width: auto;
			height: 100%;
		}
	}

	&__text {
		.futuraBold();
		font-size: 12px;
		text-transform: uppercase;
		color: @darkGrey;
	}

	&__trash {
		color: #fd6969;
		text-align: end;
		font-size: 24px;
	}

	&__line {
		border-bottom: 1px solid @middleGrey;
		padding: 9px 0 10px;
	}
}

.print-merchandise-list {
	list-style: none;
	padding: 0;
	margin: 25px 0 0 0;
}

.print-merchandise {
	display: inline-block;
	width: 24%;
	margin-right: 11px;
	padding: 18px;

	box-sizing: border-box;

	border: 1px solid @lightGrey;
	border-radius: 10px;

	vertical-align: top;

	&:last-child {
		margin-right: 0;
	}

	&__title {
		.futuraMedium();
		color: @darkGrey;
		font-size: 17px;
		margin-top: 2px;
		//text-indent: -4px;
		letter-spacing: 0.5px;
		text-align: center;
	}

	&__image-container {
		text-align: center;
		margin-top: 15px;
		width: 100%;
		height: 117px;
	}

	&__image {
		height: 100%;
		width: auto;
	}

	&__price-container {
		margin-top: 15px;
		text-align: center;
	}

	&__price {
		font-size: 25px;
	}

	&__dropdown-container {
		margin-top: 9px;
	}
}

.image {
	max-width: 100%;
	max-height: 100%;

	&--portrait {
		width: auto;
		height: 100%;
	}

	&--landscape {
		width: 100%;
		height: auto;
	}
}