<section class="main-section main-section--order-info">
    <h4 class="main-section__header text--center">Select from our models</h4>
    <h2 class="main-section__title text--center text-capitalize">Choose Your Print Merchandise</h2>

    <ul class="print-merchandise-list">
        <li class="print-merchandise" ng-repeat="printMerchandise in vm.printMerchandiseList">
            <h3 class="print-merchandise__title">{{printMerchandise.title}}</h3>

            <div class="print-merchandise__image-container">
                <img class="print-merchandise__image" ng-src="{{printMerchandise.imageSrc}}" alt="preview">
            </div>

            <div class="print-merchandise__price-container">
                <span class="order-info__price-digit print-merchandise__price">{{printMerchandise.price}}</span>
            </div>

            <div class="dropdown-container print-merchandise__dropdown-container">
                <label class="dropdown-container__label">Colour</label>
                <div class="dropdown-container__list"
                     dropdown-select="printMerchandise.colourList"
                     dropdown-model="printMerchandise.selectedColour"
                     dropdown-item-label="title" >
                </div>
            </div>

            <button class="button button--light whole-width"
                    ng-click="vm.selectPrint($index)"
                    ng-class="{'button--success': printMerchandise.isSelected}">
                <span ng-show="!printMerchandise.isSelected">Select</span>
                <span ng-show="printMerchandise.isSelected">Selected</span>
                <i ng-show="printMerchandise.isSelected" class="button__mark icon ion-ios-checkmark"></i>
            </button>

        </li>
    </ul>

    <div class="order-info__button-section text--center print-merchandise__button-section">
        <button class="button button--dark"
                ng-click="">cancel</button>
        <button class="button button--blue button__with-padding"
                ng-click="">done</button>
    </div>

</section>