<div class="custom-popup" ng-class="{'custom-popup--dark-background': vm.isShowDarkBackground}">
    <div class="popup-message">
        <div class="popup-message__title-container">
            <h2 class="popup-message__title">{{vm.title}}</h2>
        </div>
        <div class="popup-message__text-container">
            <p class="popup-message__text">{{vm.text}}</p>
        </div>
        <div class="popup-message__button-container">
            <button class="popup-message__button button button--blue"
                    ng-show="vm.closeText"
                    ng-click="vm.onCloseEvent()">{{vm.closeText}}</button>
            <button class="popup-message__button button button--blue"
                    ng-show="vm.successText"
                    ng-click="vm.onSuccessEvent()">{{vm.successText}}</button>
        </div>
        <i class="icon ion-close-round popup-message__close-icon pointer"
           ng-show="vm.isShowCloseIcon" ng-click="vm.onCloseEvent()"></i>
    </div>
</div>