<div id="container">
	<input id="button" type="file" accept=".gif,.jpg,.jpeg,.png" ng-model-instant
		   onchange="angular.element(this).scope().imageUpload(event)"/>
	<br>
	<img style="position: absolute; left: 150%" ng-src="{{vm.imageFilter}}" alt="">
	<canvas id="canvas"></canvas>
	<!--<canvas id="finish-canvas" style="position: absolute; left: 150%"></canvas>-->
</div>

