<footer class="footer">

    <div class="container">
        <div class="footer__container">
            <div class="logo-container footer__column footer__logo-container">
                <div class="logo__icon-container">
                    <i class="logo__icon icon ion-ios-people-outline"></i>
                </div>
                <span class="logo__text"><strong class="logo__text logo__text--bold">myflat</strong>Family</span>
            </div>

            <ul class="menu menu--vertical footer__column footer__menu">
                <li class="menu__item">Order Now</li>
                <li class="menu__item">About Us</li>
                <li class="menu__item">How it Works</li>
                <li class="menu__item">Contact</li>
            </ul>

            <ul class="menu menu--vertical footer__column footer__menu">
                <li class="menu__item">FAQ</li>
                <li class="menu__item">Privacy</li>
                <li class="menu__item">Terms of Use</li>
            </ul>

            <div class="footer__column footer__social-block">
                <div class="footer__header">Follow us on</div>
                <ul class="menu footer__social-menu">
                    <li class="menu__item">
                        <i class="icon ion-social-twitter"></i>
                    </li>
                    <li class="menu__item">
                        <i class="icon ion-social-facebook"></i>
                    </li>
                    <li class="menu__item">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>
                    <li class="menu__item">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>

            <div class="footer__column footer__newsletter-block">
                <div class="footer__header">Subscribe to our newsletter</div>
                <input class="footer__newsletter-input" type="text" placeholder="email address...">
            </div>
        </div>

        <div class="footer__copyright-block copyright-block">
            <div class="logo__icon-container logo--grey">
                <i class="logo__icon icon ion-ios-people-outline"></i>
            </div>
            <div class="copyright-block__text">
                <span>Made with <i class="icon ion-heart"></i> in London.</span>
            </div>
            <div class="copyright-block__text copyright-block__text--small">
                <span>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017</span>
            </div>
        </div>
    </div>

</footer>