<header class="header">

    <div class="container">
        <div class="header__container">
            <div class="logo-container">
                <div class="logo__icon-container">
                    <i class="logo__icon icon ion-ios-people-outline"></i>
                </div>
                <span class="logo__text"><strong class="logo__text logo__text--bold">myflat</strong>Family</span>
            </div>

            <ul class="menu header__menu">
                <li class="menu__item">Home</li>
                <li class="menu__item">About us</li>
                <li class="menu__item">How it works</li>
                <li class="menu__item">Contact</li>
                <li class="menu__item bag-container">
                    <i class="icon ion-bag bag-container__icon"></i>
                    <span class="bag-container__count">3</span>
                </li>
            </ul>
        </div>
    </div>

</header>