<section class="main-section">
    <div class="main-section__side main-section__side--left">
        <h4 class="main-section__header">Step 1</h4>
        <h2 class="main-section__title">Upload Your Photo & Convert Into Caricature</h2>

        <p class="main-section__text">Lorem ipsum dolor sit amet, consectetur elit  et adipiscing anean sed
            arcu posuere.</p>
        <p class="main-section__text">Sagittis enim ut, tempor dui. In porttitor nisl at enim luctus, et cursus orci
            posuere. Cras gravida ex ut maximus aliquet. Integer vitae felis nibh.</p>

        <div class="main-section__button-section">
            <button class="button button--dark" ng-click="vm.onPreviousStep()">go back</button>
            <button class="button button--blue"
                    ng-click="vm.goNext()">next step</button>
        </div>
    </div>
    <div class="main-section__side main-section__side--right">
        <h2 class="main-section__title text--center">
            Your converted photo.
        </h2>
        <h3 class="main-section__subtitle text--center pointer" ng-click="vm.clearImages()">
            Not happy? Go back and select a different <br> photo to convert
        </h3>

        <div class="main-section__image-result-section image-result-section">
            <div class="image-result-section__preview">
                <img ng-src="{{vm.originalFace}}" alt="" class="image-result-section__preview-image"
                ng-class="{'image--portrait': vm.isPortraitFace, 'image--landscape': !vm.isPortraitFace }">
            </div>

            <i class="icon ion-arrow-right-a image-result-section__arrow"></i>

            <div class="image-result-section__preview image-result-section__preview--right">
                <canvas width="150" height="175" id="canvas-filter"></canvas>
            </div>
        </div>

        <p class="main-section__text main-section__note-text">
            <strong class="main-section__text--bold">NOTE:</strong>
            If you are not happy with the conversion go back and select a different photo to convert.
        </p>
    </div>
</section>