<section>
    <home-step-one-component
            ng-if="vm.isShow.step1"
            original-image-file="vm.originalImageFile"
            on-next-step="vm.showPopup('select-face')">
    </home-step-one-component>

    <select-face-component
            ng-if="vm.isShow.selectFace"
            original-image-file="vm.originalImageFile"
            original-face="vm.originalFace"
            on-previous-step="vm.showPopup('step1')"
            on-next-step="vm.showPopup('face-filter')">
    </select-face-component>

    <face-filter-component
            ng-if="vm.isShow.faceFilter"
            original-face="vm.originalFace"
            filter-face="vm.filterFace"
            on-previous-step="vm.showPopup('step1')"
            on-next-step="vm.showPopup('step2')">
    </face-filter-component>

    <home-step-two-component
            ng-if="vm.isShow.step2"
            filter-face="vm.filterFace"
            on-previous-step="vm.showPopup('step1')">
    </home-step-two-component>
</section>