<section class="main-section main-section--face-selector">
    <h2 class="main-section__title text--center">Select the face and crop the selected <br> section of the photo</h2>

    <div class="face-select-description-container">
        <div class="face-select-description">
            <div class="face-select-description__step-container">
                <div class="face-select-description__step">1</div>
            </div>
            <div class="face-select-description__info-block">
                <div class="face-select-description__step-title main-section__header">Step 1</div>
                <i class="icon face-select-description__icon icon-edge"></i>
                <span class="face-select-description__text">Select the edge of the face</span>
            </div>
        </div>

        <div class="face-select-description">
            <div class="face-select-description__step-container">
                <div class="face-select-description__step">2</div>
            </div>
            <div class="face-select-description__info-block">
                <div class="face-select-description__step-title main-section__header">Step 2</div>
                <i class="icon face-select-description__icon icon-foreground"></i>
                <span class="face-select-description__text">Mark the foreground that will be kept</span>
            </div>
        </div>

        <div class="face-select-description">
            <div class="face-select-description__step-container">
                <div class="face-select-description__step">3</div>
            </div>
            <div class="face-select-description__info-block">
                <div class="face-select-description__step-title main-section__header">Step 3</div>
                <i class="icon face-select-description__icon icon-background-remover"></i>
                <span class="face-select-description__text">Mark the background that will be removed</span>
            </div>
        </div>

        <div class="face-select-description">
            <div class="face-select-description__step-container">
                <div class="face-select-description__step">4</div>
            </div>
            <div class="face-select-description__info-block">
                <div class="face-select-description__step-title main-section__header">Step 4</div>
                <span class="face-select-description__text">Crop the image and then convert it</span>
            </div>
        </div>
    </div>

    <div id="MagicEdgeHolder" class="ng-scope BR-rootHolder face-selector__magic-edge-section">
        <div class="BR-mainHolder">
            <div class="face-selector__button-section">
                <!--<div class="BR-commandSelectImage face-selector__button face-selector__button&#45;&#45;select" title="Select image">Select</div>-->
                <div class="BR-commandRemoveDrawing face-selector__button face-selector__button--short" title="Clear selection"></div>
                <div class="BR-commandUndo BR-disabledBtn face-selector__button face-selector__button--short" title="Undo"></div>
                <div class="BR-commandRedo BR-disabledBtn face-selector__button face-selector__button--short" title="Redo"></div>

                <div class="BR-commandMagicEdge face-selector__button face-selector__button--short face-selector__button--magic-edge" title="Select magic edge tool"></div>
                <div class="BR-commandSelectForegroundLine face-selector__button face-selector__button--short" title="Select foreground tool"></div>
                <div class="BR-commandSelectBackgroundLine face-selector__button face-selector__button--short" title="Select background tool"></div>

                <div class="BR-commandEraser face-selector__button face-selector__button--short" title="Erase drawing tool"></div>

                <div class="face-selector__button face-selector__button--short BR-commandZoomIn face-selector__button--magic-edge" title="Zoom In"></div>
                <div class="face-selector__button face-selector__button--short BR-commandZoomOut" title="Zoom Out"></div>
                <div class="face-selector__button face-selector__button--short BR-commandMove" title="Move tool"></div>

                <div class="BR-commandConvert face-selector__button face-selector__button--crop" title="Make the image transparent">Crop</div>
            </div>

            <div class="BR-imagesHolder face-selector__canvas-list-container">

                <div class="BR-leftImageHolder face-selector__canvas-container">
                    <canvas class="BR-leftCanvasImage"></canvas>
                    <canvas class="BR-leftCanvasDraw"></canvas>
                    <canvas class="BR-leftCanvasCursor BR-cursorMAGICEDGE" tabindex="1" autofocus=""></canvas>
                </div>

                <div class="BR-rightImageHolder face-selector__canvas-container">
                    <canvas id="BR-rightCanvas" class="BR-rightCanvas"></canvas>
                    <canvas class="BR-rightCanvasDraw"></canvas>
                    <!--<canvas class="BR-rightCanvasCursor BR-cursorPAN" tabindex="2"></canvas>-->
                </div>
            </div>
        </div>
    </div>

    <div class="face-selector__button-manage-section">
        <button class="button button--dark" ng-click="vm.onPreviousStep()">go back</button>
        <button class="button button--grey button--blue"
                ng-click="vm.convertImage()"
                ng-class="{'button--blue': vm.imageSrc}">convert</button>
    </div>

    <canvas id="canvas"></canvas>

</section>