<section class="main-section">
    <div class="main-section__side main-section__side--left">
        <h4 class="main-section__header">Step 2</h4>
        <h2 class="main-section__title">It's Time to Pick a Body</h2>

        <p class="main-section__text">Lorem ipsum dolor sit amet, consectetur elit  et adipiscing anean sed arcu posuere.</p>

        <div class="dropdown-container">
            <label class="dropdown-container__label">Select Category</label>
            <div class="dropdown-container__list"
                 dropdown-select="vm.categoryList"
                 dropdown-model="vm.selectedCategory"
                 dropdown-item-label="title" >
            </div>
        </div>

        <div class="dropdown-container">
            <label class="dropdown-container__label">Select Body Style</label>
            <div class="dropdown-container__list"
                 dropdown-select="vm.selectedCategory.bodyStyleList"
                 dropdown-model="vm.selectedBodyStyle"
                 dropdown-item-label="title" >
            </div>
        </div>

        <div class="main-section__button-section">
            <button class="button button--dark" ng-click="vm.onPreviousStep()">go back</button>
            <button class="button button--grey"
                    ng-click="vm.showPopup()"
                    ng-class="{'button--blue': vm.isPlacedCaricature}">add to cart</button>
        </div>
    </div>

    <div class="main-section__side main-section__side--right">
        <div ng-show="!vm.convertedPhoto">
            <h2 class="main-section__title text--center">
                Drag & Drop the caricature on selected body
            </h2>

            <div class="main-section__pick-body-section pick-body-section">
                <div class="resize-container">
                    <div class="resize-drag" ng-style="vm.getBackgroundStyle()" ng-class="{'resize-drag--unresized': vm.isPlacedCaricature}">
                        <i class="resize-drag__corner resize-drag__corner--top-left"></i>
                        <i class="resize-drag__corner resize-drag__corner--top-right"></i>
                        <i class="resize-drag__corner resize-drag__corner--bottom-left"></i>
                        <i class="resize-drag__corner resize-drag__corner--bottom-right"></i>
                    </div>

                    <img class="pick-body-section__image" ng-src="{{vm.selectedBodyStyle.body}}" alt="">
                </div>
            </div>

            <div class="main-section__button-section text--center box-sizing">
                <button class="button button--light"
                        ng-click="vm.placeCaricature()"
                        ng-class="{'button--success': vm.isPlacedCaricature}">
                    <span ng-show="!vm.isPlacedCaricature">place caricature</span>
                    <span ng-show="vm.isPlacedCaricature">placed caricature</span>
                    <i ng-show="vm.isPlacedCaricature" class="button__mark icon ion-ios-checkmark"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<custom-popup-component
    ng-if="vm.isShowPopup"
    title="Product added to cart successfully"
    text="Sagittis enim ut, tempor dui. In porttitor nisl at enim luctus, et cursus orci posuere. Cras gravida ex ut maximus aliquet. Integer vitae felis nibh."
    success-text="view cart details"
    is-show-close-icon="true"
    is-show-dark-background="true"
    on-close-event="vm.closePopup(false)"
    on-success-event="vm.closePopup(true)">
</custom-popup-component>