<section class="main-section">
    <div class="main-section__side main-section__side--left">
        <h4 class="main-section__header">Step 1</h4>
        <h2 class="main-section__title">Upload Your Photo & Convert Into Caricature</h2>

        <p class="main-section__text">Lorem ipsum dolor sit amet, consectetur elit  et adipiscing anean sed
            arcu posuere.</p>
        <p class="main-section__text">Sagittis enim ut, tempor dui. In porttitor nisl at enim luctus, et cursus orci
            posuere. Cras gravida ex ut maximus aliquet. Integer vitae felis nibh.</p>

        <div class="main-section__button-section">
            <button class="button button--dark">cancel</button>
            <button class="button button--grey"
                    ng-show="!vm.convertedPhoto"
                    ng-click="vm.imageSrc && vm.onNextStep()"
                    ng-class="{'button--blue': vm.imageSrc}">crop</button>
            <button class="button button--blue"
                    ng-show="vm.convertedPhoto"
                    ng-click="vm.convertPhoto()">next step</button>
        </div>
    </div>
    <div class="main-section__side main-section__side--right">
        <div ng-show="!vm.convertedPhoto">
            <h2 class="main-section__title text--center">
                Drag & drop <br> or <strong class="text--blue">upload</strong> photo here
            </h2>

            <div class="main-section__image-download-section image-download-section">
                <div ng-show="vm.imageSrc">
                    <div class="image-download-section__preview" ng-style="vm.getBackgroundStyle()"></div>
                    <div class="image-download-section__trash-container trash-container" ng-click="vm.removeImage()">
                        <i class="trash-container__icon icon ion-trash-a"></i>
                    </div>
                </div>

                <label class="image-download-section__selector" for="file-upload" ng-show="!vm.imageSrc"></label>
                <input type='file' accept=".jpg,.jpeg,.png" ng-model-instant style="display: none;"
                       id="file-upload"
                       onchange="angular.element(this).scope().imageUpload(event)"/>

                <div ng-show="!vm.imageSrc">

                    <i class="image-download-section__image-background icon ion-image"></i>
                    <div class="image-download-section__text">
                        Drag an image here or <strong class="text--blue">browse</strong> for an image to upload.
                    </div>
                    <div class="image-download-section__text image-download-section__text--small">
                        Max filesize: <strong>4MB</strong>, Allowed file types: <strong>JPG, PNG</strong>
                        Try to upload a clear image with a resolution
                        hiegher than 800x640 pixels.
                    </div>
                </div>
            </div>

            <p class="main-section__text main-section__note-text">
                <strong class="main-section__text--bold">NOTE:</strong>
                The MyFlatFamily website uses face recognition technology to silhouette the
                face from the background of the photo
            </p>
        </div>

        <div ng-show="vm.convertedPhoto">
            <h2 class="main-section__title text--center">
                Your converted photo.
            </h2>
            <h3 class="main-section__subtitle text--center pointer" ng-click="vm.clearImages()">
                Not happy? Go back and select a different <br> photo to convert
            </h3>

            <div class="main-section__image-result-section image-result-section">
                <div class="image-result-section__preview" style="background-image: url('img/before.jpg')">
                </div>

                <i class="icon ion-arrow-right-a image-result-section__arrow"></i>

                <div class="image-result-section__preview image-result-section__preview--right"
                     style="background-image: url('img/after.jpg')">
                </div>
            </div>

            <p class="main-section__text main-section__note-text">
                <strong class="main-section__text--bold">NOTE:</strong>
                If you are not happy with the conversion go back and select a different photo to convert.
            </p>
        </div>
    </div>
</section>