<section>
    My Home Page

    <input type='file' accept=".gif,.jpg,.jpeg,.png" ng-model-instant
           onchange="angular.element(this).scope().imageUpload('image', event)"/>

    <span>Image Preview:</span>

    <canvas id="myCanvas" width="400" height="300" style="border:1px solid #d3d3d3;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>

    <canvas id="myCanvasCrop" width="150" height="150" style="border:1px solid #d3d3d3;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>

    <img class="loader" src="img/gears.svg" alt="" ng-show="vm.isLoading">


    <!--<div class="image-preview" ng-style="vm.getBackgroundStyle()"></div>-->

    <button ng-click="vm.recogniseFaces()">Recognise Faces</button>

</section>