<div id="MagicEdgeHolder" class="ng-scope BR-rootHolder">
    <div class="BR-mainHolder">
        <div class="BR-commandHolder1" style="display: inline-block;">
            <div class="BR-commandBtn BR-commandText BR-commandSelectImage" title="Select image">Select</div>
            <a class="BR-commandBtn BR-commandText BR-commandSaveImage" title="Save transparent image">Save</a>
            <a class="BR-commandBtn BR-commandText BR-commandDownloadImage" title="Download transparent image"
               style="display: inline-block;">Download</a>
            <div class="BR-commandBtn BR-commandRemoveDrawing" title="Clear selection"></div>
            <div class="BR-commandBtn BR-commandUndo BR-disabledBtn" title="Undo"></div>
            <div class="BR-commandBtn BR-commandRedo BR-disabledBtn" title="Redo"></div>
            <div class="BR-commandBtn BR-commandText BR-commandConvert" title="Make the image transparent">Convert</div>
        </div>

        <div class="BR-commandHolder2" style="display: inline-block;">
            <div class="BR-commandHolder2Left" style="position: relative; width: 668px; display: block;">
                <div class="BR-commandBtn BR-commandMagicEdge" title="Select magic edge tool"></div>
                <div class="BR-commandBtn BR-commandSelectForegroundLine" title="Select foreground tool"></div>
                <div class="BR-commandBtn BR-commandSelectBackgroundLine" title="Select background tool"></div>

                <div class="BR-commandBtn BR-commandEraser" title="Erase drawing tool"></div>
            </div>
        </div>

        <div class="BR-imagesHolder" style="height: 277px;">

            <div class="BR-leftImageHolder" style="height: 277px; width: 668px; display: block;">
                <canvas class="BR-leftCanvasImage" width="668" height="277"></canvas>
                <canvas class="BR-leftCanvasDraw" width="668" height="277"></canvas>
                <canvas class="BR-leftCanvasCursor BR-cursorMAGICEDGE" tabindex="1" autofocus="" width="668"
                        height="277"></canvas>
                <div class="BR-dropInfo" style="width: 598px; height: 207px; display: none;">Drop an image into this
                    field
                </div>
            </div>

            <div class="BR-rightImageHolder" style="height: 277px; width: 668px; display: block;">
                <canvas id="BR-rightCanvas" class="BR-rightCanvas" width="668" height="277"></canvas>
                <canvas class="BR-rightCanvasDraw" width="668" height="277"></canvas>
                <canvas class="BR-rightCanvasCursor BR-cursorPAN" tabindex="2" width="668" height="277"></canvas>
            </div>
        </div>

    </div>
</div>


