<section class="main-section main-section--order-info">
    <h4 class="main-section__header">My Cart</h4>
    <h2 class="main-section__title">Cart Details ({{vm.orderList.length}} products)</h2>

    <ul class="order-info-list">
        <li class="order-info-list__line">
            <div class="order-info-list__header order-info-list__column order-info-list__column--1">Product</div>
            <div class="order-info-list__header order-info-list__column order-info-list__column--2">Category</div>
            <div class="order-info-list__header order-info-list__column order-info-list__column--3">Style</div>
            <div class="order-info-list__header order-info-list__column order-info-list__column--4">Price</div>
            <div class="order-info-list__header order-info-list__column order-info-list__column--5"></div>
        </li>
        <li class="order-info-list__line" ng-repeat="order in vm.orderList">
            <div class="order-info-list__column--1 order-info-list__column">
                <div class="order-info-list__preview">
                    <img ng-src="{{order.previewUrl}}" alt="preview">
                </div>
            </div>
            <div class="order-info-list__column--2 order-info-list__column">
                <div class="order-info-list__text">
                    {{order.category}}
                </div>
            </div>
            <div class="order-info-list__column--3 order-info-list__column order-info-list__text">{{order.style}}</div>
            <div class="order-info-list__column--4 order-info-list__column order-info-list__text">${{order.price}}</div>
            <div class="order-info-list__column--5 order-info-list__column order-info-list__trash">
                <i class="icon ion-trash-a pointer" ng-click="vm.removeOrder($index)"></i>
            </div>
        </li>
    </ul>

    <div class="order-info__price-section">
        <p class="order-info__price">Total cost <span class="order-info__price-digit">{{vm.getTotal()}}</span></p>
    </div>

    <div class="order-info__button-section">
        <button class="button button--dark"
                ng-click="">cancel</button>
        <button class="button button--blue button__with-padding"
                ng-click="">select print merchandise</button>
    </div>

</section>